<!DOCTYPE html>
<html ng-app= "calculatorApp">
<head>
<title>The Calculator</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="nScript.js"></script> 
<link rel="stylesheet" type="text/css"  href="myCalculator2.css">
<!--<script src="angular1.6.4"></script>-->

</head>

<body id= "background" ng-controller="calculatorBtn">

<h3><italics> {{ proprietary }} <italics></h3>

<div class= "container">
<div id= "display"><input type= "text" name="display" value= "{{display}}" id="display" readonly></div>

<div id="keys">
<p>
<button type="button" class= "button" value="9" ng-click='onScreen("9")'>9</button>
<button type="button" class= "button" value="8" ng-click='onScreen("8")'>8</button>
<button type="button" class= "button" value="7" ng-click='onScreen("7")'>7</button>
<button type="button" class= "button" value="6" ng-click='onScreen("6")'>6</button>
</p>
<p>
<button type="button" class= "button" value="5" ng-click='onScreen("5")'>5</button >
<button type="button" class= "button" value="4" ng-click='onScreen("4")'>4</button >
<button type="button" class= "button" value="3" ng-click='onScreen("3")'>3</button >
<button type="button" class= "button" value="2" ng-click='onScreen("2")'>2</button >
</p>
<p>
<button type="button" class= "button" value="1" ng-click='onScreen("1")'>1</button >
<button type="button" class= "button" value="0" ng-click='onScreen("0")'>0</button >
<button type="button" class= "button" value="+" ng-click='onScreen("+")'>+</button >
<button type="button" class= "button" value="-" ng-click='onScreen("-")'>-</button >
</p>
<button type="button" class= "button" value="/" ng-click='onScreen("/")'>/</button >
<button type="button" class= "button" value="x" ng-click='onScreen("x")'>X</button >
<button type="button" class= "button equal" value="=" ng-click='equal()'>=</button >
<button type="button" class= "button" value="x^2" ng-click='powerOfTwo()'>x<sup>2</button>
</p>
<p>
<button type="button" class= "button" value="+/-" ng-click='plusminus()'><em>-</em></button >
<button type="button" class= "button" value="Del" ng-click='clearOne()'>Del</button >
<button type="button" class= "button" value="1/x" ng-click='inverseOf()'>1/x</button >
<button type="button" class= "button" value="C" ng-click='clearIt()'>C</button>
</p>

</div>
</div>
</div>
</body>
</html>

