
 .container {
   text-align: center;
   background-color: #99ccff;
   margin: 3px;
 }
  .button {
   position: center;
   height: 80px;
   width: 68px;
   margin: 5px 0 0;
   font-size: 16px;   
   font-weight: light;
   font-family: Helvetica;
   colour: #990099;  
  }
  
  .button:active
  {
  background-color: #53ff1a;
  transform: translatex(8px);*/
  opacity: 0.1;
  border:none;
  }
  .button:hover {
   color: #53ff1a;
   background-color: #990099;
  }
  
   #display {
     width: 290px;
	 height: 60px; 
   }
   
   body {
	border: 2px solid  blue;
	width: 300px;
	border-radius: 10px;
	
 }
  .display input {
  font-size: 30px;
  text-align: center;
  background-color: lightGray;
  }
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 