
 .container {
   text-align: center;
   background-color: #99ccff;
   margin: 3px;
 }
  .button {
   position: center;
   height: 70px;
   width: 68px;
   margin: 5px 0 0;
   font-size: 20px;   
   font-weight: heavy;
   font-family: Helvetica;
   colour: #990099;  
   border-radius: 100px;
   background-color: #3366ff;

  }
  
  .button:active
  {
  background-color: #804000;
  transform: translatex(8px);
  opacity: 0.5;
  border:none;
  }
  .button:hover {
   color: #0000ff;
   background-color: #FF334C;
  }
  
   #display {
     width: 290px;
	 height: 58px;*/
   }
   
   body {
	border: 2px solid  blue;
	width: 300px;
  height: 580px;
	border-radius: 10px;*/
  background-color: ##804000;
	
 }
  #display input {
  font-size: 30px;
  text-align: center;
  background-color: lightGray;
  }
  
  .equal:active {
    background-color: #cc33ff;
    font-weight: 
  }

  #keys {
  	background-color: #333300;
  }
.cancel {
	background-color: #ff0000;
}
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 